@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["viewbag-title"];
    ViewBag.PageName = Localizer["viewbag-pagename"];
    ViewBag.PageBlurb = Localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/cats.jpg";
    ViewBag.ControllerName = "Root";
}
<h3>@Localizer["exception-message"]</h3>

