@inject WilderBlog.Services.DataProviders.CalendarProvider appearances
@model BlogResult
@{
    ViewBag.Title = "Sascha Manns's Twilight Zone";
    ViewBag.PageName = "Sascha Manns";
    ViewBag.PageBlurb = "My thoughts about technology, programming, everything else...";
    ViewBag.PageImage = "/img/headers/code2.jpg";
    ViewBag.ControllerName = "Root";
}
@foreach (var story in Model.Stories)
{
    <partial name="_StoryBrief" model="story" />
}

<div class="row">
    <div class="col-lg-12">
        <partial name="_Pager" />
    </div>
</div>
